<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ward Details</title>
</head>
<body>
  <h1>Login</h1>
  <form id="login-form">
    <input type="text" id="login-username" name="username" placeholder="Username" required>
    <input type="password" id="login-password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>


  <script>
    async function handleLogin(event) {
      event.preventDefault();
      const email = document.getElementById('login-username').value;
      const password = document.getElementById('login-password').value;

      console.log('Email:', email);
      console.log('Password:', password);

      try {
        const response = await fetch('/app/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email, password })
        });

        if (!response.ok) {
          throw new Error('Login failed');
        }

        const data = await response.json();
        console.log('Login response:', data);
        localStorage.setItem('token', data.token);
        window.location.href = '/admin/admin.ejs';
      } catch (error) {
        console.error('Error:', error);
      }
    }

    document.getElementById('login-form').addEventListener('submit', handleLogin);
</script>
</body>
</html>