<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url("../images/adminLogin.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative;
      }

      body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        pointer-events: none;
      }

      .container {
        background-color: rgb(0 0 0 / 53%);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgb(255 255 255 / 28%);
        width: 300px;
        position: relative;
        z-index: 1;
      }

      h1 {
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.5rem;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      label {
        margin-bottom: 0.5rem;
        color: #ffffff;
      }
      input {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      button {
        background-color: #6041eb;
        /* color: white; */
        border: none;
        padding: 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        /* transition: background-color 0.3s; */
      }
      button:hover {
        background-color: #d13030;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form id="login-form">
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="username" required />

        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" required />

        <button type="submit">Login</button>
      </form>
    </div>
    <script>
      async function handleLogin(event) {
        event.preventDefault();
        const email = document.getElementById("login-username").value;
        const password = document.getElementById("login-password").value;
        console.log("Email:", email);
        console.log("Password:", password);
        try {
          const response = await fetch("/app/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email, password }),
          });
          if (!response.ok) {
            throw new Error("Login failed");
          }
          const data = await response.json();
          console.log("Login response:", data);
          localStorage.setItem("token", data.token);
          localStorage.setItem("userId", data.userId);
          console.log(data.userId);
          window.location.href = "/admin/admin.ejs";
        } catch (error) {
          console.error("Error:", error);
        }
      }
      document
        .getElementById("login-form")
        .addEventListener("submit", handleLogin);
    </script>
  </body>
</html>
