<div class="header_logo_container">
  <div class="header_logo">
    <a class="header_logo_link" href="/">
      <img src="/images/holy-spirit-logo-md.jpg" alt="Holy Spirit Church Logo" class="header_logo_img">
      <div class="header_logo_text">
        <h2>Holy Spirit Church</h2>
        <span>Mukka</span>
      </div>
    </a>
  </div>
</div> 