<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from preview.colorlib.com/theme/church/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 13:05:06 GMT -->
  <head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="Holy Spirit News,Holy Spirit Events, Holy Spirit Announcements, Holy Spirit Church Blog, Holy Spirit Church Mukka News,Holy Spirit Church Mukka Events, Holy Spirit Church Mukka Announcements, Mukka Church News,Mukka Church Events, Mukka Church Announcements, Mukka, Church News Events Announcements"
    />
    <meta
      name="description"
      content="Blog - Holy Spirit Church, Mukka - News, Events, Announcements"
    />
    <meta name="author" content="Holy Spirit Church Mukka" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Holy Spirit Church Mukka" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://holyspiritmukka.in/blog" />
    <meta
      property="og:image"
      content="https://holyspiritmukka.in/images/holy-spirit-church.jpg"
    />
    <meta
      property="og:description"
      content="Blog - Holy Spirit Church, Mukka - News, Events, Announcements"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="images/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="styles/styles_in_all.css" />
    <link rel="stylesheet" type="text/css" href="styles/blog.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/common_responsive.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/blog_responsive.css" />
    <link rel="stylesheet" type="text/css" href="styles/navigation.css" />
  </head>
  <body>
    <div class="super_container">
      <%- include('partials/navigation', { currentPage: 'blog' }) %>

      <div class="home">
        <div
          class="home_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/blog.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_container">
                <div
                  class="home_content d-flex flex-row align-items-center justify-content-start"
                >
                  <div class="home_title">Blog</div>
                  <div class="home_breadcrumbs ml-auto">
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a></li>
                      <li>Blog</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2>News</h2>
              <div class="blog_content" id="news_content">
                <!-- display here -->
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 sidebar_col">
              <div class="blog_sidebar">
                <div class="sidebar_section">
                  <div class="sidebar_title">Latest News</div>
                  <div class="latest_news_container" id="news_container">
                    <!-- display here -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2>Events</h2>
              <div class="blog_content" id="events_content">
                <!-- display here -->
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 sidebar_col">
              <div class="blog_sidebar">
                <div class="sidebar_section">
                  <div class="sidebar_title">All Events</div>
                  <div class="latest_news_container" id="events_container">
                    <!-- display here -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h2>Announcements</h2>
              <div class="blog_content" id="announcements_content">
                <!-- display here -->
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 sidebar_col">
              <div class="blog_sidebar">
                <div class="sidebar_section">
                  <div class="sidebar_title">All Announcements</div>
                  <div
                    class="latest_news_container"
                    id="announcements_container"
                  >
                    <!-- display here -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 footer_col">
              <div class="logo_container">
                <div class="logo">
                  <a class="logo_align" href="#">
                    <img
                      src="images/holy-spirit-logo-md.jpg"
                      alt="Holy Spirit Church Logo"
                    />
                    <div class="logo_text">
                      <h2>Holy Spirit Church</h2>
                      <span>Mukka</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-5 footer_col">
              <div class="footer_contact">
                <div class="footer_title">Contact Us</div>
                <ul class="footer_ul">
                  <li class="footer_li">
                    <span>Address: </span>
                    <div id="church-address"></div>
                  </li>
                  <li class="footer_li">
                    <span>Phone: </span>
                    <div id="contact"></div>
                  </li>
                  <li class="footer_li">
                    <span>Email: </span>
                    <a id="email" href="" class="__cf_email__"
                      >[email&#160;protected]</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer_social">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-pinterest" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright text-center">
          Copyright &copy;

          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </div>
      </footer>
    </div>
    <script src="js/blog.js"></script>
    <script src="js/search.js"></script>
    <script src="js/footeraddress.js"></script>
    <script src="js/footerContact.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
