<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from preview.colorlib.com/theme/church/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 13:04:18 GMT -->
  <head>
    <title>Church</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Demo project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/responsive.css" />
  </head>
  <body>
    <div class="super_container">
      <header class="header">
        <div class="header_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="header_content d-flex flex-row align-items-center justify-content-start"
                >
                  <div class="logo_container">
                    <div class="logo">
                      <a href="#">
                        <span>Believe</span>
                        <img src="images/logo.jpg" alt />
                      </a>
                    </div>
                  </div>

                  <div class="header_nav_container ml-auto">
                    <nav class="main_nav">
                      <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="ministries.ejs">Ministries</a></li>
                        <li><a href="sermons.ejs">Sermons</a></li>
                        <li><a href="blog.ejs">Blog</a></li>
                        <li><a href="contact.ejs">Contact</a></li>
                      </ul>
                    </nav>
                    <div class="search">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        id="Capa_1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 56.966 56.966"
                        style="enable-background: new 0 0 56.966 56.966"
                        xml:space="preserve"
                        width="13px"
                        height="14px"
                      >
                        <path
                          class="search_path"
                          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                          fill="#353535"
                        />
                      </svg>
                    </div>
                  </div>

                  <div class="hamburger ml-auto">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header_search_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div
                    class="header_search_content d-flex flex-row align-items-center justify-content-end"
                  >
                    <form action="#" class="header_search_form">
                      <input
                        type="search"
                        class="search_input"
                        placeholder="Search"
                        required="required"
                      />
                      <button
                        class="header_search_button d-flex flex-column align-items-center justify-content-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          id="Capa_2"
                          x="0px"
                          y="0px"
                          viewBox="0 0 56.966 56.966"
                          style="enable-background: new 0 0 56.966 56.966"
                          xml:space="preserve"
                          width="20px"
                          height="20px"
                        >
                          <path
                            class="search_path"
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                            fill="#353535"
                          />
                        </svg>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div
        class="menu d-flex flex-column align-items-center justify-content-center"
      >
        <div class="menu_content">
          <div
            class="cross_1 d-flex flex-column align-items-center justify-content-center"
          >
            <img src="images/cross_1.png" alt />
          </div>
          <form action="#" class="menu_search_form">
            <input
              type="search"
              class="menu_search_input"
              placeholder="Search"
              required="required"
            />
            <button
              class="menu_search_button d-flex flex-column align-items-center justify-content-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_3"
                x="0px"
                y="0px"
                viewBox="0 0 56.966 56.966"
                style="enable-background: new 0 0 56.966 56.966"
                xml:space="preserve"
                width="20px"
                height="20px"
              >
                <path
                  class="search_path"
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                  fill="#353535"
                />
              </svg>
            </button>
          </form>
          <nav class="menu_nav">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="ministries.ejs">Ministries</a></li>
              <li><a href="sermons.ejs">Sermons</a></li>
              <li><a href="blog.ejs">Blog</a></li>
              <li><a href="contact.ejs">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="menu_close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>

      <div class="home">
        <div class="home_slider_container">
          <div type="button"
            class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center" id="go-to-prev"
          >
            <img src="images/arrow_l.png" alt />
          </div>
          <div class="poster-container" id="poster-slider">
            <!-- displayed here -->
          </div>
          <div type="button"
            class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center" id="go-to-next"
          >
            <img src="images/arrow_r.png" alt />
          </div>
        </div>
      </div>

      <div class="intro">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_1.png" alt />
                </div>
                <div class="section_title">
                  <h3>Welcome to Our</h3>
                  <h2 id="church-title"></h2>
                </div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row intro_content">
            <div class="col-lg-6">
              <div class="intro_text">
                <p id="church-details"></p>
                <div class="button intro_button"><a href="#">Read More</a></div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="intro_image"><img id="church-image" alt /></div>
            </div>
          </div>
        </div>
      </div>

      <div class="services">
        <div
          class="services_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/services.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_2.png" alt />
                </div>
                <div class="section_title">
                  <h2>Discover More About Church</h2>
                </div>
                <div class="section_subtitle">Peace Be With You</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="services_text text-center">
                <p>
                  Bringing together people of all ages through various
                  activities and services, Holy Spirit Church in Mukka fosters a
                  strong sense of togetherness. From engaging community
                  associations and uplifting worship services to events that
                  celebrate our shared faith, the church is a hub of unity and
                  joy. Our vibrant parish life is beautifully captured in our
                  gallery, reflecting the essence of our community. Join us to
                  experience a place where faith, fellowship, and support are at
                  the heart of everything we do.
                </p>
              </div>
            </div>
          </div>
          <div class="row services_row">
            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/services_2.png" alt />
                </div>
                <div class="services_title">Daily Mass</div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/services_5.png" alt />
                </div>
                <div class="services_title">Daily Reading</div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/icons-03.png" alt />
                </div>
                <div class="services_title">Wards</div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/icons-02.png" alt />
                </div>
                <div class="services_title">Associations</div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/services_6.png" alt />
                </div>
                <div class="services_title">Daily Prayers</div>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="services_item text-center">
                <div class="services_image">
                  <img src="images/icons-04.png" alt />
                </div>
                <div class="services_title">Gallery</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="priest">
        <div
          class="priest_background"
          style="background-image: url(images/sermon.png)"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/icons-01.png" alt />
                </div>
                <div class="section_title"><h2>Parish Priest</h2></div>
                <div class="section_subtitle">Grace and blessings to all</div>
              </div>
            </div>
          </div>
          <div class="row priest_row">
            <div class="col-lg-6">
              <div class="priest_image">
                <img id="priest-image" alt />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="priest_content">
                <div class="priest_title">
                  <h2 id="priest-title"></h2>
                </div>
                <!-- <ul class="priest_list">
                  <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                  <li>
                    Categories: <a href="#">Jesus Christ</a>,
                    <a href="#">Holy</a>
                  </li>
                  <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                </ul> -->
                <div class="priest_text">
                  <p id="priest-details"></p>
                </div>
                <div class="button priest_button">
                  <a href="sermons.ejs">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="causes">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_4.png" alt />
                </div>
                <div class="section_title"><h2>Obituary</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
            <div class="causes_slider_container">

            <div class="slider-wrapper">
              <button id="prev" class="slider-nav slider-prev">
                <img src="images/arrow_l.png" alt="Previous" />
              </button>
              <div class="slider-container">
                <div class="slider" id="slider-container">
                  <!-- display here -->
                </div>
              </div>
              <button id="next" class="slider-nav slider-next">
                <img src="images/arrow_r.png" alt="Next" />
              </button>
            </div>

            </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div
          class="quote_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/quote.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_5.png" alt />
                </div>
                <div class="section_title"><h2>Quote of the day</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row quote_row">
            <div class="col text-center">
              <div class="quote_char">
                <img src="images/quote_char.png" alt />
              </div>
              <div class="quote_text">
                4 One thing I ask from the LORD, this only do I seek: that I may
                dwell in the house of the LORD all the days of my life, to gaze
                on the beauty of the LORD and to seek him in his temple.
              </div>
              <div class="quote_source">Psalm 27:4</div>
            </div>
          </div>
        </div>
      </div>

      <div class="news">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_6.png" alt />
                </div>
                <div class="section_title"><h2>Latest News</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row news_row">
            <div class="col-lg-4 news_col">
              <div class="news_item">
                <div class="news_image">
                  <img src="images/news_1.jpg" alt />
                  <div
                    class="news_date d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="news_day">06</div>
                    <div class="news_month">March, 2018</div>
                  </div>
                </div>
                <div class="news_content">
                  <div class="news_title">Latest news in the '18 community</div>
                  <div class="news_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dic tumst malesuada congue magna at
                      finibus. In hac habitasse platea.
                    </p>
                  </div>
                  <div class="news_link"><a href="blog.ejs">Read More</a></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 news_col">
              <div class="news_item">
                <div class="news_image">
                  <img src="images/news_2.jpg" alt />
                  <div
                    class="news_date d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="news_day">05</div>
                    <div class="news_month">March, 2018</div>
                  </div>
                </div>
                <div class="news_content">
                  <div class="news_title">Help us raise money for the kids</div>
                  <div class="news_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dic tumst malesuada congue magna at
                      finibus. In hac habitasse platea.
                    </p>
                  </div>
                  <div class="news_link"><a href="blog.ejs">Read More</a></div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 news_col">
              <div class="news_item">
                <div class="news_image">
                  <img src="images/news_3.jpg" alt />
                  <div
                    class="news_date d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="news_day">03</div>
                    <div class="news_month">March, 2018</div>
                  </div>
                </div>
                <div class="news_content">
                  <div class="news_title">The best way to pray</div>
                  <div class="news_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dic tumst malesuada congue magna at
                      finibus. In hac habitasse platea.
                    </p>
                  </div>
                  <div class="news_link"><a href="blog.ejs">Read More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="newsletter_content d-flex flex-lg-row flex-column align-items-center justify-content-start"
              >
                <div class="newsletter_title">Subscribe to our newsletter</div>
                <div class="newsletter_form_container ml-lg-auto">
                  <form action="#" id="newsletter_form" class="newsletter_form">
                    <input
                      type="email"
                      class="newsletter_input"
                      placeholder="Your email"
                      required="required"
                    />
                    <button id="newsletter_button" class="newsletter_button">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 footer_col">
              <div class="logo_container">
                <div class="logo">
                  <a href="#">
                    <span>Believe</span>
                    <img src="images/logo_large.jpg" alt />
                  </a>
                </div>
                <div class="logo_subtitle">Church template</div>
              </div>
              <div class="footer_social">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-pinterest" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 footer_col">
              <div class="footer_links">
                <div class="footer_title">Useful Links</div>
                <ul>
                  <li><a href="index.ejs">Home</a></li>
                  <li><a href="#">Donations</a></li>
                  <li><a href="sermons.ejs">Sermons</a></li>
                  <li><a href="#">Causes</a></li>
                  <li><a href="#">Quotes</a></li>
                  <li><a href="blog.ejs">News</a></li>
                  <li><a href="#">Event List</a></li>
                  <li><a href="ministries.ejs">Ministries</a></li>
                  <li><a href="#">Priests</a></li>
                  <li><a href="contact.ejs">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 footer_col">
              <div class="footer_contact">
                <div class="footer_title">Contact Us</div>
                <ul>
                  <li>
                    <span>Address: </span>1481 Creekside Lane Avila Beach, CA
                    93424
                  </li>
                  <li class="footer_contact_phone">
                    <span>Phone: </span>
                    <div>
                      <div>+53 345 7953 32453</div>
                      <div>+53 345 7557 822112</div>
                    </div>
                  </li>
                  <li>
                    <span>Email: </span
                    ><a
                      href=""
                      class="__cf_email__"
                      data-cfemail="7801170d0a15191114381f15191114561b1715"
                      >[email&#160;protected]</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright text-center">
          Copyright &copy;
          <script
            data-cfasync="false"
            src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
          ></script>
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com/" target="_blank">Colorlib</a>
        </div>
      </footer>
    </div>
    <script src="js/poster_slider.js"></script>
    <script src="js/slider_script.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/custom.js"></script>
    

    <!-- <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script> -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>

    <script>
      async function fetchData(url, titleId, imageId, detailsId) {
        try {
          const response = await fetch(url, {
            method: "GET",
          });

          if (!response.ok) {
            throw new Error(
              "Network response was not ok " + response.statusText
            );
          }
          const data = await response.json();

          const len = data.length - 1;
          const imageUrl = data[len].image.replace(/^.*\/public\//, "../");

          document.getElementById(titleId).textContent = data[len].name;
          document.getElementById(imageId).src = imageUrl;
          document.getElementById(detailsId).textContent = data[len].description;
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      }

      function initSlider() {
        fetchData(
          "/app/church/read",
          "church-title",
          "church-image",
          "church-details"
        );
        fetchData(
          "/app/priest/read",
          "priest-title",
          "priest-image",
          "priest-details"
        );
        // fetchData(
        //   "/app/association/read",
        //   "associations-title",
        //   "associations-image",
        //   "associations-details"
        // );
      }

      document.addEventListener("DOMContentLoaded", initSlider);
    </script>
  </body>
</html>
