<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Magazine</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="Holy Spirit Church Magazine, Holy Spirit Church Mukka Magazine, Holy Spirit Church News, Holy Spirit Church Mukka News, Mukka Church Magazine, Mukka Church News"
    />
    <meta name="description" content="Magazine - Holy Spirit Church, Mukka" />
    <meta name="author" content="Holy Spirit Church Mukka" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Holy Spirit Church Mukka" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://holyspiritmukka.in/magazine" />
    <meta
      property="og:image"
      content="https://holyspiritmukka.in/images/holy-spirit-church.jpg"
    />
    <meta
      property="og:description"
      content="Magazine - Holy Spirit Church, Mukka"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/styles_in_all.css" />
    <link rel="stylesheet" type="text/css" href="styles/magazine.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/common_responsive.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/magazine_responsive.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/navigation.css" />
  </head>
  <body>
    <header class="header">
      <div class="header_logo_container">
        <a href="/" class="header_logo_link">
          <img src="/images/logo.png" alt="St. Mary's Church Logo" class="header_logo">
        </a>
      </div>
      <div class="header_nav_container ml-auto">
        <nav class="main_nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="priest">Priests</a></li>
            <li><a href="ward">Wards</a></li>
            <li><a href="associations">Associations</a></li>
            <li><a href="commission">Commissions</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="institution">Institution</a></li>
            <li><a href="about_us">About us</a></li>
          </ul>
        </nav>
      </div>
      <div class="header_search_container">
        <form class="search_form" action="/search" method="GET">
          <input type="text" class="search_input" placeholder="Search..." name="q">
          <button type="submit" class="search_button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="mobile_menu_button">
        <button class="menu_toggle" aria-label="Toggle menu">
          <span class="menu_icon"></span>
        </button>
      </div>
    </header>
    <div class="mobile_menu">
      <nav class="mobile_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="priest">Priests</a></li>
          <li><a href="ward">Wards</a></li>
          <li><a href="associations">Associations</a></li>
          <li><a href="commission">Commissions</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="institution">Institution</a></li>
          <li><a href="about_us">About us</a></li>
        </ul>
      </nav>
    </div>
    <div class="overlay"></div>
    <div class="super_container">

      // ... existing code ... 