<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Parish Council</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="Holy Spirit Church Parish Council, Holy Spirit Church Mukka Parish Council, Mukka Church Parish Council, Church Parish Council, Parish Council"
    />
    <meta name="description" content="Parish Council - Holy Spirit Church, Mukka" />
    <meta name="author" content="Holy Spirit Church Mukka" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Holy Spirit Church Mukka" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://holyspiritmukka.in/parish_council" />
    <meta
      property="og:image"
      content="https://holyspiritmukka.in/images/holy-spirit-church.jpg"
    />
    <meta
      property="og:description"
      content="Parish Council - Holy Spirit Church, Mukka"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/styles_in_all.css" />
    <link rel="stylesheet" type="text/css" href="styles/parish_council.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/common_responsive.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/parish_council_responsive.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/navigation.css" />
  </head>
  <body>
    <div class="super_container">
      <%- include('partials/navigation', { currentPage: 'parish_council' }) %>

      <div class="home">
        <div
          class="home_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/sermons.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_container">
                <div
                  class="home_content d-flex flex-row align-items-center justify-content-start"
                >
                  <div class="home_title">Parish Council</div>
                  <div class="home_breadcrumbs ml-auto">
                    <ul class="breadcrumbs">
                      <li><a href="/">Home</a></li>
                      <li>Parish Council</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="parish-council">
        <div
          class="parish-council_background"
          style="background-image: url(images/sermon.png)"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/ward-01.png" alt />
                </div>
                <div class="section_title"><h2>Parish Council</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="popular">
        <div class="container">
          <div class="row popular_row" id="parish-council-container">
            <!-- display here -->
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 footer_col">
              <div class="logo_container">
                <div class="logo">
                  <a class="logo_align" href="#">
                    <img
                      src="images/holy-spirit-logo-md.jpg"
                      alt="Holy Spirit Church Logo"
                    />
                    <div class="logo_text">
                      <h2>Holy Spirit Church</h2>
                      <span>Mukka</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-lg-5 footer_col">
              <div class="footer_contact">
                <div class="footer_title">Contact Us</div>
                <ul class="footer_ul">
                  <li class="footer_li">
                    <span>Address: </span>
                    <div id="church-address"></div>
                  </li>
                  <li class="footer_li">
                    <span>Phone: </span>
                    <div id="contact"></div>
                  </li>
                  <li class="footer_li">
                    <span>Email: </span>
                    <a id="email" href="" class="__cf_email__"
                      >[email&#160;protected]</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="footer_social">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-pinterest" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright text-center">
          Copyright &copy;

          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </div>
      </footer>
    </div>
    <script src="js/search.js"></script>
    <script src="js/parishCouncil.js"></script>
    <script src="js/footeraddress.js"></script>
    <script src="js/footerContact.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
  </body>
</html>
