<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from preview.colorlib.com/theme/church/sermons.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 13:04:58 GMT -->
  <head>
    <title>Sermons</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Demo project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />
    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/sermons.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/sermons_responsive.css"
    />
  </head>
  <body>
    <div class="super_container">
      <header class="header">
        <div class="header_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="header_content d-flex flex-row align-items-center justify-content-start"
                >
                  <div class="logo_container">
                    <div class="logo">
                      <a href="#">
                        <span>Believe</span>
                        <img src="images/logo.jpg" alt />
                      </a>
                    </div>
                  </div>

                  <div class="header_nav_container ml-auto">
                    <nav class="main_nav">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="ministries.ejs">Ministries</a></li>
                        <li class="active"><a href="#">Sermons</a></li>
                        <li><a href="blog.ejs">Blog</a></li>
                        <li><a href="contact.ejs">Contact</a></li>
                      </ul>
                    </nav>
                    <div class="search">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        id="Capa_1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 56.966 56.966"
                        style="enable-background: new 0 0 56.966 56.966"
                        xml:space="preserve"
                        width="13px"
                        height="14px"
                      >
                        <path
                          class="search_path"
                          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                          fill="#353535"
                        />
                      </svg>
                    </div>
                  </div>

                  <div class="hamburger ml-auto">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header_search_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div
                    class="header_search_content d-flex flex-row align-items-center justify-content-end"
                  >
                    <form action="#" class="header_search_form">
                      <input
                        type="search"
                        class="search_input"
                        placeholder="Search"
                        required="required"
                      />
                      <button
                        class="header_search_button d-flex flex-column align-items-center justify-content-center"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          id="Capa_2"
                          x="0px"
                          y="0px"
                          viewBox="0 0 56.966 56.966"
                          style="enable-background: new 0 0 56.966 56.966"
                          xml:space="preserve"
                          width="20px"
                          height="20px"
                        >
                          <path
                            class="search_path"
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                            fill="#353535"
                          />
                        </svg>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div
        class="menu d-flex flex-column align-items-center justify-content-center"
      >
        <div class="menu_content">
          <div
            class="cross_1 d-flex flex-column align-items-center justify-content-center"
          >
            <img src="images/cross_1.png" alt />
          </div>
          <form action="#" class="menu_search_form">
            <input
              type="search"
              class="menu_search_input"
              placeholder="Search"
              required="required"
            />
            <button
              class="menu_search_button d-flex flex-column align-items-center justify-content-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_3"
                x="0px"
                y="0px"
                viewBox="0 0 56.966 56.966"
                style="enable-background: new 0 0 56.966 56.966"
                xml:space="preserve"
                width="20px"
                height="20px"
              >
                <path
                  class="search_path"
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                  fill="#353535"
                />
              </svg>
            </button>
          </form>
          <nav class="menu_nav">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="ministries.ejs">Ministries</a></li>
              <li><a href="#">Sermons</a></li>
              <li><a href="blog.ejs">Blog</a></li>
              <li><a href="contact.ejs">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="menu_close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>

      <div class="home">
        <div
          class="home_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/sermons.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_container">
                <div
                  class="home_content d-flex flex-row align-items-center justify-content-start"
                >
                  <div class="home_title">Sermons</div>
                  <div class="home_breadcrumbs ml-auto">
                    <ul class="breadcrumbs">
                      <li><a href="index-2.ejs">Home</a></li>
                      <li>Sermons</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sermon">
        <div
          class="sermon_background"
          style="background-image: url(images/sermon.png)"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_3.png" alt />
                </div>
                <div class="section_title"><h2>Today's Sermon</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row sermon_row">
            <div class="col-lg-6">
              <div class="sermon_image">
                <img src="images/sermon_image.jpg" alt />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="sermon_content">
                <div class="sermon_title">
                  <a href="sermon_single.ejs"
                    >Receive The Holy Spirit By Jesus Christ</a
                  >
                </div>
                <ul class="sermon_list">
                  <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                  <li>
                    Categories: <a href="#">Jesus Christ</a>,
                    <a href="#">Holy</a>
                  </li>
                  <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                </ul>
                <div class="sermon_text">
                  <p>
                    Praesent malesuada congue magna at finibus. In hac habitasse
                    platea dictumst. Curabitur rhoncus auctor eleifend. Fusce
                    venenatis diam urna, eu pharetra arcu varius ac. Etiam
                    cursus turpis lectus, id iaculis risus tempor id. Phasellus
                    fringilla nisl sed sem scelerisque, eget aliquam magna
                    vehicula.nteger nec bibendum lacus.
                  </p>
                </div>
                <div class="sermon_buttons">
                  <ul>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_1.svg" alt />
                    </li>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_2.svg" alt />
                    </li>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_3.svg" alt />
                    </li>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_4.svg" alt />
                    </li>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_5.svg" alt />
                    </li>
                    <li class="sermon_item">
                      <img class="svg" src="images/sermon_6.svg" alt />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="popular">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container">
                <div class="section_image">
                  <img src="images/church_7.png" alt />
                </div>
                <div class="section_title"><h2>Popular Sermons</h2></div>
                <div class="section_subtitle">God loves us all</div>
              </div>
            </div>
          </div>
          <div class="row popular_row">
            <div class="col-lg-6">
              <div class="popular_item">
                <div class="popular_image">
                  <img
                    src="images/popular_1.jpg"
                    alt="https://unsplash.com/@joshapplegate"
                  />
                </div>
                <div class="sermon_content">
                  <div class="sermon_title">
                    <a href="sermon_single.ejs"
                      >Receive The Holy Spirit By Jesus Christ</a
                    >
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="popular_item">
                <div class="popular_image">
                  <img
                    src="images/popular_2.jpg"
                    alt="https://unsplash.com/@joshapplegate"
                  />
                </div>
                <div class="sermon_content">
                  <div class="sermon_title">
                    <a href="sermon_single.ejs"
                      >Receive The Holy Spirit By Jesus Christ</a
                    >
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="popular_item">
                <div class="popular_image">
                  <img
                    src="images/popular_3.jpg"
                    alt="https://unsplash.com/@joshapplegate"
                  />
                </div>
                <div class="sermon_content">
                  <div class="sermon_title">
                    <a href="sermon_single.ejs"
                      >Receive The Holy Spirit By Jesus Christ</a
                    >
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="popular_item">
                <div class="popular_image">
                  <img
                    src="images/popular_4.jpg"
                    alt="https://unsplash.com/@knixon"
                  />
                </div>
                <div class="sermon_content">
                  <div class="sermon_title">
                    <a href="sermon_single.ejs"
                      >Receive The Holy Spirit By Jesus Christ</a
                    >
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="featured">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 featured_col">
              <div
                class="featured_background parallax-window"
                data-parallax="scroll"
                data-image-src="images/featured_1.jpg"
                data-speed="0.8"
              ></div>
              <div class="featured_1">
                <div class="sermon_content">
                  <div class="sermon_title">
                    Receive The Holy Spirit By Jesus Christ
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 featured_col_2">
              <div
                class="featured_background parallax-window"
                data-parallax="scroll"
                data-image-src="images/featured_2.jpg"
                data-speed="0.8"
              ></div>
              <div class="featured_2">
                <div class="sermon_content">
                  <div class="sermon_title">
                    Receive The Holy Spirit By Jesus Christ
                  </div>
                  <ul class="sermon_list">
                    <li>Sermon by: <a href="#">Priest Jack Smith</a></li>
                    <li>
                      Categories: <a href="#">Jesus Christ</a>,
                      <a href="#">Holy</a>
                    </li>
                    <li>Date: <a href="#">Monday 11 March, 2018</a></li>
                  </ul>
                  <div class="sermon_text">
                    <p>
                      Praesent malesuada congue magna at finibus. In hac
                      habitasse platea dictumst. Curabitur rhoncus auctor
                      eleifend. Fusce venenatis diam urna, eu pharetra arcu
                      varius ac. Etiam cursus turpis lectus, id iaculis risus
                      tempor id. Phasellus fringilla nisl sed sem scelerisque,
                      eget aliquam magna vehicula.nteger nec bibendum lacus.
                    </p>
                  </div>
                  <div class="sermon_buttons">
                    <ul>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_1.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_2.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_3.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_4.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_5.svg" alt />
                      </li>
                      <li class="sermon_item">
                        <img class="svg" src="images/sermon_6.svg" alt />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="newsletter_content d-flex flex-lg-row flex-column align-items-center justify-content-start"
              >
                <div class="newsletter_title">Subscribe to our newsletter</div>
                <div class="newsletter_form_container ml-lg-auto">
                  <form action="#" id="newsletter_form" class="newsletter_form">
                    <input
                      type="email"
                      class="newsletter_input"
                      placeholder="Your email"
                      required="required"
                    />
                    <button id="newsletter_button" class="newsletter_button">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 footer_col">
              <div class="logo_container">
                <div class="logo">
                  <a href="#">
                    <span>Believe</span>
                    <img src="images/logo_large.jpg" alt />
                  </a>
                </div>
                <div class="logo_subtitle">Church template</div>
              </div>
              <div class="footer_social">
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-pinterest" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 footer_col">
              <div class="footer_links">
                <div class="footer_title">Useful Links</div>
                <ul>
                  <li><a href="index.ejs">Home</a></li>
                  <li><a href="#">Donations</a></li>
                  <li><a href="#">Sermons</a></li>
                  <li><a href="#">Causes</a></li>
                  <li><a href="#">Quotes</a></li>
                  <li><a href="blog.ejs">News</a></li>
                  <li><a href="#">Event List</a></li>
                  <li><a href="ministries.ejs">Ministries</a></li>
                  <li><a href="#">Priests</a></li>
                  <li><a href="contact.ejs">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 footer_col">
              <div class="footer_contact">
                <div class="footer_title">Contact Us</div>
                <ul>
                  <li>
                    <span>Address: </span>1481 Creekside Lane Avila Beach, CA
                    93424
                  </li>
                  <li class="footer_contact_phone">
                    <span>Phone: </span>
                    <div>
                      <div>+53 345 7953 32453</div>
                      <div>+53 345 7557 822112</div>
                    </div>
                  </li>
                  <li>
                    <span>Email: </span
                    ><a
                      href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="8cf5e3f9fee1ede5e0ccebe1ede5e0a2efe3e1"
                      >[email&#160;protected]</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright text-center">
          Copyright &copy;
          <script
            data-cfasync="false"
            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
          ></script>
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com/" target="_blank">Colorlib</a>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="js/sermons_custom.js"></script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
      integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
      data-cf-beacon='{"rayId":"8a7be03f1d61c167","version":"2024.7.0","serverTiming":{"name":{"cfL4":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}'
      crossorigin="anonymous"
    ></script>
  </body>

  <!-- Mirrored from preview.colorlib.com/theme/church/sermons.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 13:05:06 GMT -->
</html>
