<!-- mobileNav.ejs -->
<style>
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
    .hamburger-menu {
      display: none;
      font-size: 30px;
      cursor: pointer;
    }
    @media (max-width: 991px) {
      .hamburger-menu {
        display: block;
      }
      .sidebar {
        display: none;
      }
    }
    </style>
    
    <span class="hamburger-menu" onclick="openNav()">&#9776;</span>
    
    <div id="mobileNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="/admin/news.ejs">News</a>
        <a href="/admin/events.ejs">Events</a>
        <a href="/admin/announcements.ejs">Announcements</a>
        <a href="/admin/document.ejs">Documents</a>
        <a href="/admin/institution.ejs">Institution</a>
        <a href="/admin/massTimings.ejs">Mass Timings</a>
        <a href="/admin/readings.ejs">Readings</a>
        <a href="/admin/users.ejs">Users</a>
      </div>
    </div>
    
    <script>
    function openNav() {
      document.getElementById("mobileNav").style.width = "100%";
    }
    function closeNav() {
      document.getElementById("mobileNav").style.width = "0%";
    }
    
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('#mobileNav a').forEach(link => {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          const href = this.getAttribute('href');
          closeNav();
          setTimeout(() => {
            window.location.href = href;
          }, 500);
        });
      });
    });
    </script>