<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
      <a href="/index"><img src="../images/holy-spirit-logo-md.jpg" alt /></a><span style="margin-left:5%; color: maroon; font-family: var(--bs-font-sans-serif)">Holy Spirit Church</span>
      <div class="sidebar_close_icon d-lg-none">
        <i class="ti-close"></i>
      </div>
    </div>
    <ul id="sidebar_menu">
      <li class="mm-active">
        <a class="has-arrow" href="/admin/admin.ejs" aria-expanded="true">
          <img src="../images/menu-icon/1.svg" alt />
          <span>Dashboard</span>
        </a>
      </li>
      <li class>
        <a href="/admin/news.ejs">
          <img src="../images/menu-icon/2.svg" alt />
          <span>News</span>
        </a>
      </li>
      <li class>
        <a href="/admin/events.ejs">
          <img src="../images/time_15311293.png" style="max-width: 70%" alt />
          <span>Events</span>
        </a>
      </li>
      <li class>
        <a href="/admin/announcements.ejs">
          <img
            src="../images/marketing_12011138.png"
            style="max-width: 80%"
            alt
          />
          <span>Announcements</span>
        </a>
      </li>
      <li class>
        <a href="/admin/document.ejs">
          <img
            src="../images/image_12998520.png"
            style="max-width: 90%"
            alt
          />
          <span>Documents</span>
        </a>
      </li>
      <li class>
        <a href="/admin/institution.ejs">
          <img
            src="../images/building_15624293.png"
            style="max-width: 90%"
            alt
          />
          <span>Institution</span>
        </a>
      </li>
      <li class>
        <a href="/admin/massTimings.ejs">
          <img src="../images/watch_2166542.png" style="max-width: 90%" alt />
          <span>Mass Timings</span>
        </a>
      </li>
      <li class>
        <a href="/admin/readings.ejs">
          <img
            src="../images/open-book_8132217.png"
            style="max-width: 80%"
            alt
          />
          <span>Readings</span>
        </a>
      </li>
      <li class>
        <a href="/admin/users.ejs">
          <img
            src="../images/community_16682249.png"
            style="max-width: 80%"
            alt
          />
          <span>Users</span>
        </a>
      </li>
    </ul>
  </nav>