

<nav class="sidebar ">
  <div class="logo d-flex justify-content-between">
    <a href="/index"><img src="../images/holy-spirit-logo-md.jpg" alt /></a><span style="margin-left:5%; color: maroon; font-family: var(--bs-font-sans-serif)">Holy Spirit Church</span>
    <div class="sidebar_close_icon d-lg-none">
      <i class="ti-close"></i>
    </div>
  </div>
  <ul id="sidebar_menu">
    <li class="mm-active">
      <a class="has-arrow" href="/admin" aria-expanded="true">
        <img src="../images/menu-icon/1.svg" alt />
        <span>Dashboard</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/news">
        <img src="../images/menu-icon/2.svg" alt />
        <span>News</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/events">
        <img src="../images/time_15311293.png" style="max-width: 70%" alt />
        <span>Events</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/announcements">
        <img
          src="../images/marketing_12011138.png"
          style="max-width: 80%"
          alt
        />
        <span>Announcements</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/document">
        <img
          src="../images/image_12998520.png"
          style="max-width: 90%"
          alt
        />
        <span>Documents</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/spotlight">
        <img
          src="../images/online-advertising_4778295.png"
          style="max-width: 70%"
          alt
        />
        <span>Spotlights</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/churchPoster">
        <img src="../images/mode-landscape_10446985.png" style="max-width: 70%" alt />
        <span>Church Posters</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/readings">
        <img
          src="../images/open-book_8132217.png"
          style="max-width: 80%"
          alt
        />
        <span>Readings</span>
      </a>
    </li>
    <li class="mm-active">
      <a href="/admin/users">
        <img
          src="../images/community_16682249.png"
          style="max-width: 80%"
          alt
        />
        <span>Users</span>
      </a>
    </li>
  </ul>
</nav>