@charset "utf-8";

/*********************************
1. Home
*********************************/

.home {
  width: 100%;
}
.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_container {
  width: 100%;
  height: 323px;
}
.home_content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
}
.home_title {
  font-size: 30px;
  color: #ffffff;
  line-height: 0.75;
}
.breadcrumbs li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #eb4141;
  font-weight: 600;
  line-height: 0.75;
}
.breadcrumbs li:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
  color: #ffffff;
}
.breadcrumbs li a {
  color: #ffffff;
  font-weight: 500;
  line-height: 0.75;
}

/*********************************
2. Blog
*********************************/

.blog {
  padding-top: 97px;
  background: #ffffff;
}
.blog_post {
  margin-bottom: 10px;
}
.blog_image_container {
  width: 100%;
}
.blog_image {
  width: 100%;
}
.blog_image img {
  width: 100%;
  max-width: 800px;
  max-height: 300px;
}
.news_date {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 94px;
  background: #eb4141;
}
.news_day {
  font-size: 30px;
  color: #ffffff;
  line-height: 0.75;
}
.news_month {
  font-size: 12px;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 10px;
}
.blog_title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  margin-top: 31px;
}
.blog_meta {
  margin-top: 1px;
}
.blog_meta ul li {
  display: inline-block;
  position: relative;
  font-size: 11px;
  font-weight: 500;
  color: #eb4141;
  margin-right: 4px;
}
.blog_meta ul li a {
  font-size: 11px;
  font-weight: 500;
  color: #eb4141;
}
.blog_meta ul li:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
}
.blog_text {
  margin-bottom: 34px;
}
.blog_link {
  margin-top: 17px;
}
.blog_link a {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #eb4141;
}
.blog_pages {
  margin-top: -7px;
}
.blog_pages ul li {
  display: inline-block;
  position: relative;
  margin-right: 2px;
  line-height: 0.75;
  padding-bottom: 3px;
}
.blog_pages ul li a {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  line-height: 0.75;
}
.blog_pages ul li.active a {
  color: #eb4141;
}
.blog_pages ul li.active {
  border-bottom: solid 2px #ffd600;
}

/*********************************
2.1 Blog Sidebar
*********************************/

.blog_sidebar {
  width: 100%;
}
.sidebar_section {
  width: 100%;
  margin-top: 50px;
}
.sidebar_section:last-child {
  margin-bottom: 0;
}
.sidebar_search_input {
  width: 100%;
  height: 48px;
  background: #efefef;
  border: none;
  outline: none;
  padding-left: 20px;
}
.sidebar_search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 56px;
  background: transparent;
  border: none;
  outline: none;
}
.sidebar_search_input::-webkit-input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #8e8e8e !important;
}
.sidebar_search_input:-moz-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #8e8e8e !important;
}
.sidebar_search_input::-moz-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #8e8e8e !important;
}
.sidebar_search_input:-ms-input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #8e8e8e !important;
}
.sidebar_search_input::input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #8e8e8e !important;
}
.sidebar_title {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.latest_news_container {
  margin-top: 40px;
  width: 100%;
  max-height: 300px;
  margin-bottom: 90px;
  overflow-y: auto;
}
.latest_news:not(:last-child) {
  margin-bottom: 20px;
}
.latest_news_image {
  width: 69px;
  height: 69px;
}
.latest_news_image img {
  max-width: 100%;
}
.latest_news_content {
  padding-left: 30px;
}
.latest_news_date {
  font-size: 11px;
  font-weight: 500;
  color: #eb4141;
}
.latest_news_title {
  margin-top: 7px;
}
.latest_news_title a {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  line-height: 1.71;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.latest_news_title a:hover {
  color: #eb4141;
}
.sidebar_list {
  margin-top: 36px;
}
.sidebar_list ul li:not(:last-child) {
  margin-bottom: 27px;
}
.sidebar_list ul li a {
  width: 100%;
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.sidebar_list ul li a:hover {
  color: #eb4141;
}
.sidebar_quote {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
}
.sidebar_quote_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.sidebar_quote_text {
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  font-weight: 500;
  margin-top: 23px;
  line-height: 2.14;
}
.sidebar_quote_source {
  margin-top: 30px;
  font-size: 18px;
  color: #e6c100;
  font-style: italic;
  font-weight: 500;
}
