@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.header_nav_container
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.contact_info_col,
	.contact_info_image
	{
		margin-top: 91px;
	}
	.contact_input_email
	{
		margin-top: 28px;
	}
	.newsletter_content
	{
		height: auto;
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.newsletter_form_container
	{
		margin-top: 30px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 30px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.header.scrolled
	{
		top: 0px;
	}
	.home_container
	{
		height: 286px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
		font-weight: 400;
	}
	h2
	{
		font-size: 24px;
	}
	.button
	{
		width: 117px;
		height: 36px;
	}
	.button a
	{
		font-size: 10px;
		line-height: 36px
	}
	.home_container
	{
		height: 215px;
	}
	.home_title
	{
		font-size: 24px;
	}
	.breadcrumbs li,
	.breadcrumbs li a
	{
		font-size: 12px;
	}
	.section_subtitle
	{
		font-size: 16px;
	}
	.header_content
	{
		height: 65px;
	}
	.header.scrolled .header_content
	{
		height: 65px;
	}
	.cross_1
	{
		height: 59px;
		width: 59px;
	}
	.cross_1 img
	{
		width: 34px !important;
	}
	.menu_close
	{
		top: 21px;
		right: 40px;
	}
	.menu_search_form
	{
		width: 100%;
		padding-right: 15px;
	}
	.menu_search_input
	{
		width: 100%;
	}
	.menu_search_button
	{
		right: 15px;
	}
	.menu_content
	{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.google_map
	{
		height: 361px;
	}
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_form_container
	{
		width: 100%;
	}
	.newsletter_form
	{
		width: 100%;
	}
	.newsletter_input
	{
		width: 100%;
		height: 40px;
	}
	.newsletter_button
	{
		width: 101px;
		height: 38px;
		font-size: 10px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}