@charset "utf-8";

/*********************************
1. Home
*********************************/

.home {
  width: 100%;
  height: 100vh;
}

/*********************************
2.1 Home Slider
*********************************/

.home_slider_container {
  width: 100%;
  height: 100%;
}
.home_slider_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_slider_content {
  position: absolute;
  width: 100%;
  top: 38.5%;
  left: 50%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.home_slider_content h1 {
  font-size: 112px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 29px;
}
.home_slider_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.home_slider_nav {
  position: absolute;
  top: 57%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: rgba(235, 65, 65, 1);
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.home_slider_nav:hover {
  background: rgba(235, 65, 65, 0.75);
}
.home_slider_prev {
  left: 50px;
}
.home_slider_next {
  right: 50px;
}

/*********************************
3. Intro
*********************************/

.intro {
  padding-top: 97px;
  padding-bottom: 98px;
  background: #ffffff;
}
.intro_content {
  margin-top: 85px;
}
.intro_text {
  width: 100%;
  margin-top: -8px;
}
.intro_button {
  margin-top: 50px;
}
.intro_image {
  width: 100%;
}
.intro_image img {
  max-width: 100%;
}

/*********************************
4. Services
*********************************/

.services {
  padding-top: 97px;
  padding-bottom: 38px;
}
.services_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.services .section_title h2,
.services .section_subtitle {
  color: #ffffff;
}
.services_text {
  margin-top: 76px;
}
.services_text p {
  color: #ffffff;
  font-weight: 400;
}
.services_row {
  margin-top: 91px;
}
.services_item {
  width: 100%;
  margin-bottom: 60px;
}
.services_image {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.services_image {
  max-width: 100%;
  max-height: 100%;
}
.services_title {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  margin-top: 18px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.services_title a {
  color: #ffffff;
}
.services_title::after,
.services_title a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #ffd600;
  content: "";
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.services_item:hover .services_title,
.services_item:hover .services_title a {
  color: #eb4141;
}
.services_item:hover .services_title::after,
.services_item:hover .services_title a::after {
  visibility: visible;
  opacity: 1;
}
/*********************************
5. priest
*********************************/

.priest {
  padding-top: 97px;
  padding-bottom: 98px;
  background: #f0f4f8;
}
.priest_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.priest_row {
  margin-top: 84px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.priest_image {
  width: 100%;
}
.priest_image img {
  max-width: 100%;
}
.priest_content {
  width: 100%;
  margin-top: -8px;
}
.priest_title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.priest_list {
  margin-top: 14px;
}
.priest_list li {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 14px;
}
.priest_list li:last-child {
  margin-bottom: 0;
}
.priest_list li a {
  color: #eb4141;
}
.priest_text {
  margin-top: 33px;
}
.priest_button {
  margin-top: 38px;
}

/*********************************
6. Causes
*********************************/

.causes {
  width: 100%;
  padding-top: 97px;
  padding-bottom: 98px;
  background: #ffffff;
}
.causes_slider_container {
  width: 100%;
  margin-top: 85px;
}
.causes_item:hover .causes_item_image {
}
.causes_item_image {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.causes_item_image::after {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  content: "";
  border: solid 10px #eb4141;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.causes_item_image img {
  max-width: 100%;
}
.causes_item:hover .causes_item_image::after {
  visibility: visible;
  opacity: 1;
}
.causes_item_title {
  font-size: 24px;
  color: #000000;
  margin-top: 40px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.causes_item_text {
  margin-top: 12px;
}
.causes_item:hover .causes_item_title {
  color: #eb4141;
}

/*********************************
7. Quote
*********************************/

.quote {
  width: 100%;
  padding-top: 97px;
  padding-bottom: 98px;
}
.quote_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quote .section_title h2,
.quote .section_subtitle {
  color: #ffffff;
}
.quote_row {
  margin-top: 55px;
}
.quote_text {
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
  margin-top: 30px;
  line-height: 2;
}
.quote_source {
  font-size: 18px;
  color: #e6c100;
  margin-top: 26px;
}

/*********************************
8. News
*********************************/

.news {
  width: 100%;
  padding-top: 98px;
  padding-bottom: 98px;
  background: #ffffff;
}
.news_row {
  margin-top: 95px;
}
.news_item {
  width: 100%;
}
.news_image {
  width: 100%;
}
.news_image img {
  max-width: 100%;
}
.news_date_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 90px;
  background: #eb4141;
}
.news_date {
  font-size: 10px;
  color: #ffffff;
  line-height: 0.75;
}
.news_type {
  font-size: 8px;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 10px;
}
.news_title {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-top: 38px;
}
.news_text {
  margin-top: 18px;
}
.news_link {
  margin-top: 18px;
}
.news_link a {
  font-size: 14px;
  color: #eb4141;
  font-style: italic;
  font-weight: 500;
}

/*********************************
9. Obituray slider
*********************************/

.slider-wrapper {
  display: flex;
  align-items: center;
}

.slider-container {
  width: 100%; /* 3 items * 300px each */
  overflow: hidden;
  margin: 0 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.imageAndInfo {
  min-width: 350px; /* Adjust width for 3 items */
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.slider-nav {
  background-color: #eb4141;
  border: none;
  cursor: pointer;
  padding: 10px; /* Decreased padding */
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-nav img {
  width: 15px; /* Decreased size */
  height: 15px; /* Decreased size */
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .slider-wrapper {
    display: grid;
    text-align: center;
  }
  .slider-container {
    width: 100%;
  }
  .slider-nav {
    background-color: #c3bfbf;
  }
}

/*********************************
10. Poster slider
*********************************/

.poster-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.poster-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out, left 1s ease-in-out;
}
.poster-slider.active {
  left: 0;
  opacity: 1;
}

.poster-slider.prev {
  left: -100%;
  opacity: 0;
}

/*********************************
11. numbers
*********************************/

.number-row {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #f0f4f8;
  /* font-family: "Bilbo", serif; */
}

.number {
  font-size: 3rem;
  font-weight: bold;
  /* padding: 20px; */
  border-radius: 8px;
  text-align: center;
  width: 80px;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Biblo", serif;
  color: #f0f4f8;
}
