@charset "utf-8";

/*********************************
1. Home
*********************************/

.home {
  width: 100%;
}
.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_container {
  width: 100%;
  height: 323px;
}
.home_content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
}
.home_title {
  font-size: 30px;
  color: #ffffff;
  line-height: 0.75;
}
.breadcrumbs li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #eb4141;
  font-weight: 600;
  line-height: 0.75;
}
.breadcrumbs li:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
  color: #ffffff;
}
.breadcrumbs li a {
  color: #ffffff;
  font-weight: 500;
  line-height: 0.75;
}

/*********************************
2. Ministries
*********************************/

.ministries {
  padding-top: 97px;
  background: #ffffff;
}
.ministries_row {
  margin-top: 30px;
}
.ministry {
  margin-bottom: 98px;
  width: 100%;
  display: flex;
  /* max-height: 100vh; */
}

@media only screen and (max-width: 800px) {
  .ministry {
    display: block;
  }
}

.ministry_image {
  width: 100%;
}
.ministry_image img {
  max-width: 100%;
  margin-top: 51px;
}
.ministry_title {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  margin-top: 51px;
}
.ministry_color {
  color: #eb4141;
}
.ministry_text {
  margin-top: 31px;
  text-align: justify;
}
.ministry_button {
  margin-top: 34px;
}

/*********************************
3. Quote
*********************************/

.quote {
  width: 100%;
  padding-top: 97px;
  padding-bottom: 98px;
}
.quote_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quote .section_title h2,
.quote .section_subtitle {
  color: #ffffff;
}
.quote_row {
  margin-top: 55px;
}
.quote_text {
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
  margin-top: 30px;
  line-height: 2;
}
.quote_source {
  font-size: 18px;
  font-style: italic;
  color: #e6c100;
  margin-top: 26px;
}
