@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {
  .home_slider_content h1 {
    font-size: 80px;
  }
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {
  .home_slider_content h1 {
    font-size: 72px;
  }
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  /* .home_slider_nav {
    right: 40px;
  } */
  .home_slider_content h1 {
    font-size: 64px;
  }
  .intro_image {
    margin-top: 50px;
  }
  .sermon_content {
    margin-top: 76px;
  }
  .news_col:not(:last-child) {
    margin-bottom: 60px;
  }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
  .number-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {
  .number-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
  .number-row {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home_slider_content h1 {
    font-size: 40px;
  }
  .home_slider_next {
    right: 5px;
  }
  .home_slider_prev {
    left: 5px;
  }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
  .home_slider_content h1 {
    font-size: 48px;
  }
  .causes_slider_nav {
    display: none !important;
  }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
  h2 {
    margin-top: 20px;
  }
  /* .home_slider_nav {
    display: none !important;
  } */
  .home_slider_content h1 {
    font-size: 24px;
  }
  .sermon_title {
    font-size: 20px;
  }
  .home_slider_button {
    margin-top: 33px;
  }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {
}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
  .home_slider_nav {
    width: 25px;
    height: 25px;
  }
  .home_slider_next {
    right: 5px;
  }
  .home_slider_prev {
    left: 5px;
  }
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
  .imageAndInfo {
    justify-content: unset;
  }
  .close-bttn {
    margin-top: 20px;
  }
}
